Source: python-unified-planning
Section: python
Priority: optional
Maintainer: Johannes Rothe <rothe@magazino.eu>
Build-Depends:
 debhelper-compat (= 12),
 dh-python,
 python3-setuptools,
 python3-all,
 python3-networkx,
 python3-protobuf,
 python3-pyparsing,
 python3-pytest,
Standards-Version: 4.4.1
Homepage: https://github.com/aiplan4eu/unified-planning
Vcs-Browser: https://github.com/aiplan4eu/unified-planning
Vcs-Git: https://github.com/aiplan4eu/unified-planning

Package: python3-unified-planning
Architecture: all
Depends: 
 ${python3:Depends},
 ${misc:Depends},
Suggests: python3-unified-planning-pyperplan
Description: Formulate planning problems and invoke automated planners (Python 3)
 The unified_planning library makes it easy to formulate planning problems
 and to invoke automated planners.
  * Define problems in a simple, intuitive, and planner independent way
  * Solve your planning problems using one of the native solvers,
    or by using any PDDL planner
  * Dump your problems in PDDL (or ANML) format
  * Parse PDDL problem formulations
  * Simplification, grounding, removal of conditional effects and
    many other transformations are available
 .
 This package installs the library for Python 3.
